.background {
  background: linear-gradient(
      90deg,
      rgba(1, 1, 1, 0.9) 0%,
      rgba(255, 0, 0, 0.1) 100%
    ),
    url("../src/assets/image/image-bg.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
}
.noble-font {
  font-family: "Novable";
  font-size: 2rem;
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 0.86rem;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.gallery-grid {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.gallery-grid img {
  height: 300px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 10px rgba(65, 0, 0, 0.9);
}
